@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media (prefers-color-scheme: light) {
  :root {
    --background: #f1f1f1;
    --backgroundSVG: #d4d4d4;
    --bannerColor: #1a8269;
    --text: #0f0f0f;
    --inputClr: #e2e2e2;
    --Pri-Color: #49dbb9;
    --Tri-Color: #2f7ee6;
    --Tri-Color-Select: #062a5a;
    --Input-Color: #ecf8f5;
    --Acc-Color1: #fbe46e;
    --Acc-Color2: #fb6eed;
  }
  .rc-anchor-normal {
    background: #f9f9f9 !important;
    background-color: red;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --backgroundSVG: #202020;
    --bannerColor: #1d483e;
    --text: #f1f1f1;
    --inputClr: #525252;
    --Pri-Color: #297a67;
    --Tri-Color: #9a28e8;
    --Tri-Color-Select: #2e0549;
    --Input-Color: #4c5657;
    --Acc-Color1: #713de0;
    --Acc-Color2: #ff4c4c;
  }
  .rc-anchor-normal {
    background: #222 !important;
    background-color: red;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 1px auto;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

main {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  main {
    max-width: 768px;
  }
}

a {
  text-decoration: none;
  color: var(--text);
  outline: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

input {
  border-radius: 8px;
}

svg {
  font-size: 1.5em !important;
  margin-left: 0.4em !important;
  color: #f1f1f1 !important;
}

@media screen and (min-width: 1280px) {
  svg {
    font-size: 2em !important;
  }
}

.BackgroundSVG {
  position: absolute;
  width: 100vw;
  bottom: 0;
  z-index: -5;
}

.Banner {
  padding: 1rem 2rem;
  background-color: var(--bannerColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Banner .header {
  font-weight: 800;
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 1.28rem;
}

@media screen and (min-width: 1280px) {
  .Banner .header {
    font-size: 1.6rem;
  }
}

.Banner .btn {
  background-color: var(--Pri-Color) !important;
  color: #f1f1f1;
  border-radius: 100px;
  border: none;
  padding: 0.4rem 2rem;
  margin: auto;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}

.Banner .btn:hover, .Banner .btn:focus {
  outline: none;
  cursor: pointer;
}

.centerIt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  margin: 4em 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.centerIt h2 {
  width: 80%;
}

.centerIt .deleteButton {
  margin: 1rem 2rem;
}

.centerIt .deleteButton .deleteBtn {
  background-color: var(--Pri-Color) !important;
  color: #f1f1f1;
  border-radius: 100px;
  border: none;
  padding: 0.4rem 2rem;
  margin: auto;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
}

.centerIt .deleteButton .deleteBtn:hover, .centerIt .deleteButton .deleteBtn:focus {
  outline: none;
  cursor: pointer;
}

.centerIt .deleteButton .terugBtn {
  background-color: var(--Acc-Color2) !important;
  color: #f1f1f1;
  border-radius: 100px;
  border: none;
  padding: 0.4rem 2rem;
  margin: auto;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  margin: 2em 0;
}

.centerIt .deleteButton .terugBtn:hover, .centerIt .deleteButton .terugBtn:focus {
  outline: none;
  cursor: pointer;
}

.centerIt .Btn {
  background-color: var(--Pri-Color) !important;
  color: #f1f1f1;
  border-radius: 100px;
  border: none;
  padding: 0.4rem 2rem;
  margin: auto;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.centerIt .Btn:hover, .centerIt .Btn:focus {
  outline: none;
  cursor: pointer;
}

.main {
  width: 100%;
  margin: 3em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90vh;
}

.main .Header {
  font-size: 2.1rem;
  width: 80%;
}

.main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .content .img {
  display: none;
}

.main p {
  font-size: 1.2rem;
  width: 90%;
}

.main .btn {
  background-color: var(--Pri-Color) !important;
  color: #f1f1f1;
  border-radius: 100px;
  border: none;
  padding: 0.4rem 2rem;
  margin: auto;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  grid-area: BUTTON;
  font-size: 1.2rem;
  padding: 0.4em 3em;
}

.main .btn:hover, .main .btn:focus {
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .main {
    width: 80%;
    margin: 2em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 70vh;
  }
  .main .Header {
    font-size: 3rem;
    width: 80%;
  }
  .main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .content .img {
    display: block;
  }
  .main p {
    font-size: 1.2rem;
    width: 45%;
  }
  .main .btn {
    background-color: var(--Pri-Color) !important;
    color: #f1f1f1;
    border-radius: 100px;
    border: none;
    padding: 0.4rem 2rem;
    margin: auto;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;
    grid-area: BUTTON;
    font-size: 1.8rem;
    padding: 0.4em 3em;
  }
  .main .btn:hover, .main .btn:focus {
    outline: none;
    cursor: pointer;
  }
}

.inlogdiv form {
  padding: 1rem 2rem;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inlogdiv form .Form {
  position: relative;
}

.inlogdiv form .Form .formItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
}

.inlogdiv form .Form .formItem label {
  margin: 0.2em 0;
}

.inlogdiv form .Form .formItem input {
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: var(--inputClr);
  color: var(--text);
  width: 100%;
  background-color: var(--inputClr) !important;
}

.inlogdiv form .Form .formItem:nth-child(1)::before {
  content: "";
  display: block;
  position: fixed;
  position: absolute;
  width: 80%;
  max-width: 1920px;
  height: 22px;
  background-color: var(--Acc-Color1);
  border-radius: 52px;
  z-index: -3;
  -webkit-transform: translate(70%, 105%);
          transform: translate(70%, 105%);
}

.inlogdiv form .Form .formItem:nth-child(2)::before {
  content: "";
  display: block;
  position: fixed;
  position: absolute;
  width: 80%;
  max-width: 768px;
  height: 22px;
  background-color: var(--Acc-Color2);
  border-radius: 52px;
  z-index: -3;
  bottom: 30%;
  left: -20%;
}

.inlogdiv form .submitBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 50%;
}

.inlogdiv form .submitBtn .Btn_login {
  background-color: var(--Pri-Color) !important;
  color: #f1f1f1;
  border-radius: 100px;
  border: none;
  padding: 0.4rem 2rem;
  margin: auto;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
}

.inlogdiv form .submitBtn .Btn_login:hover, .inlogdiv form .submitBtn .Btn_login:focus {
  outline: none;
  cursor: pointer;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  height: 100vh;
}

.error .Btn {
  background-color: var(--Pri-Color) !important;
  color: #f1f1f1;
  border-radius: 100px;
  border: none;
  padding: 0.4rem 2rem;
  margin: auto;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.error .Btn:hover, .error .Btn:focus {
  outline: none;
  cursor: pointer;
}

.groupList {
  margin: 1rem 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 50vh;
  scrollbar-width: thin;
}

.groupList .scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.groupList .scroll a {
  padding: 0 1em;
}

.groupList .scroll a:hover {
  text-decoration: none;
}

.groupList .scroll a .groupItem {
  border-radius: 16px;
  padding: 1rem 2rem;
  margin: 1rem 0;
  background-color: var(--Input-Color);
}

.groupList .scroll a .groupItem .group {
  color: var(--text);
}

form {
  margin: 3rem 1.5rem;
  position: absolute;
  bottom: -40px;
  background-color: transparent;
  width: 90%;
}

@media screen and (min-width: 1280px) {
  form {
    width: 40vw;
    max-width: 40%;
  }
  form .userList {
    width: 60vw;
  }
}

form .aanmaak .GroupInput {
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: var(--inputClr);
  color: var(--text);
  width: 100%;
}

form .aanmaak .userList {
  margin: 1em 0;
  max-width: 100%;
}

@media screen and (max-width: 396px) {
  form .aanmaak .userList {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 10vh;
    scrollbar-width: thin;
  }
  form .aanmaak .userList .userItem {
    margin-left: 0;
  }
  form .aanmaak .userList .userItem label {
    width: 100%;
  }
}

form .aanmaak .userList .userItem {
  display: inline-block;
  margin: 0.5em 0.2em;
}

form .aanmaak .userList .userItem label {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 4em 0;
  padding: 0.3em 1em;
  border-radius: 8px;
  background-color: var(--Tri-Color);
  color: #f1f1f1;
  text-transform: capitalize;
  margin: 0%;
}

form .aanmaak .userList .userItem input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

form .aanmaak .userList .userItem input[type="checkbox"]:checked ~ label {
  background-color: var(--Tri-Color-Select);
}

form .Item {
  margin: 1em 0;
}

form .Item input {
  background-color: var(--Pri-Color) !important;
  color: #f1f1f1;
  border-radius: 100px;
  border: none;
  padding: 0.4rem 2rem;
  margin: auto;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
}

form .Item input:hover, form .Item input:focus {
  outline: none;
  cursor: pointer;
}

.groupList {
  margin: 1rem 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 50vh;
  scrollbar-width: thin;
}

.groupList .scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.groupList .scroll a {
  padding: 0 1em;
}

.groupList .scroll a .eventItem {
  border-radius: 16px;
  padding: 1rem 2rem;
  margin: 1rem 0;
  background-color: var(--Input-Color);
}

.groupList .scroll a .eventItem .event {
  color: var(--text);
}

form .EventInput {
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: var(--inputClr);
  color: var(--text);
  width: 100%;
}

.photos {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: 3em 0;
  width: 100%;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 50vh;
  scrollbar-width: thin;
}

.photos .Tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photos .Tile img {
  width: 195px;
  height: 195px;
  -o-object-fit: contain;
     object-fit: contain;
}

.fotoForm input[type="file"] + label {
  cursor: pointer;
}

.fotoForm .fotoInput {
  margin: 3em 0;
  cursor: pointer;
}

.fotoForm .fotoSubmit {
  background-color: var(--Pri-Color) !important;
  color: #f1f1f1;
  border-radius: 100px;
  border: none;
  padding: 0.4rem 2rem;
  margin: auto;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
}

.fotoForm .fotoSubmit:hover, .fotoForm .fotoSubmit:focus {
  outline: none;
  cursor: pointer;
}

.formPhotoEdit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80%;
}

.formPhotoEdit .photosEdit {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: 3em 0;
  width: 100%;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 50vh;
  scrollbar-width: thin;
}

.formPhotoEdit .photosEdit .Tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formPhotoEdit .photosEdit .Tile img {
  width: 195px;
  height: 195px;
  -o-object-fit: contain;
     object-fit: contain;
}

.formPhotoEdit .photosEdit .Tile img:hover {
  cursor: pointer;
}

.formPhotoEdit .photosEdit .Tile input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.formPhotoEdit .photosEdit .Tile input[type="checkbox"]:checked ~ label img {
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.formPhotoEdit .deletePhotoBtn {
  background-color: var(--Pri-Color) !important;
  color: #f1f1f1;
  border-radius: 100px;
  border: none;
  padding: 0.4rem 2rem;
  margin: auto;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
}

.formPhotoEdit .deletePhotoBtn:hover, .formPhotoEdit .deletePhotoBtn:focus {
  outline: none;
  cursor: pointer;
}
