@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
// ========================
// variables
// ========================
@import "./src/variables";
@import "./src/root";
@import "./src/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1px auto;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
}
main {
  max-width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 1280px) {
    max-width: 768px;
  }
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
input {
  border-radius: $inputRadius;
}
// ========================
// components
// ========================
@import "./components/Banner";

// ========================
// pages
// ========================
@import "./pages/inlog";
@import "./pages/error";
@import "./pages/groupselect";
