* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: var(--background);
}
// ========================
// variables
// ========================
@import "./src/variables";
@import "./src/root";
@import "./src/mixins";
// ========================
// components
// ========================

// ========================
// pages
// ========================
