$colors: (
  //=================================================
  //                                        Dark mode
  //=================================================
  "BackgroundDark": #0f0f0f,
  "TextDark": #f1f1f1,
  "InputDark": #525252,
  // colors
  "BannerColor": #1a8269,
  "priClrDark": #297a67,
  // accent colors
  "accClrDark1": #713de0,
  "accClrDark2": #ff4c4c,
  // =====================-------------------------------------
  // ================================================
  //                                       Light Mode
  // ================================================
  "BackgroundLight": #f1f1f1,
  "TextLight": #0f0f0f,
  "InputLight": #e2e2e2,
  // colors
  "BannerColorLight": #1a8269,
  "priClrLight": #49dbb9,
  // accent colors
  "accClrLight1": #fbe46e,
  "accClrLight2": #fb6eed,
  // =====================-------------------------------------s
  //=================================================
  //                                   Halloween mode
  //=================================================
  //=================================================
  //                                       kerst mode
  //=================================================
);

@function Color($sort) {
  @return map-get($colors, $sort);
}

// ======================
// ======================
// def = default == standaard
// ======================
// standard stuff
// ======================
$transitionDuration: 0.63s;
$defPadding: 1rem 2rem;
$btnPadding: 0.4rem 2rem;
$formPadding: 1rem 0.5rem;

//=======================
// fonts stuff
//=======================

$defFontSize: 1.3rem;
$btnFontSize: 1.5rem;
