.centerIt {
  @include Center;
  margin: 4em 0;
  justify-content: space-around;
  height: 80vh;
  flex-direction: column;
  h2 {
    width: 80%;
  }
  .deleteButton {
    margin: $defPadding;
    .deleteBtn {
      @include ButtonStyle(var(--Pri-Color));
    }
    .terugBtn {
      @include ButtonStyle(var(--Acc-Color2));
      margin: 2em 0;
    }
  }
  .Btn {
    @include ButtonStyle(var(--Pri-Color));
    width: max-content;
  }
}
