.photos {
  display: grid;
  justify-items: center;
  margin: 3em 0;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 50vh;
  width: 100vw;
  scrollbar-width: thin;
  .Tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      $size: 195px;
      width: $size;
      height: $size;
      object-fit: cover;
      &:hover {
        object-fit: contain;
        filter: brightness(130%);
      }
    }
  }
}
.fotoForm {
  input[type="file"] {
    + label {
      cursor: pointer;
    }
  }
  .fotoInput {
    margin: 3em 0;
    cursor: pointer;
  }
  .fotoSubmit {
    @include ButtonStyle(var(--Pri-Color));
  }
}
