.groupList {
  margin: $defMargin;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 50vh;
  scrollbar-width: thin;
  .scroll {
    // scroll = groupLIst
    display: flex;
    justify-content: start;
    flex-direction: column-reverse;
    a {
      padding: 0 1em;
      &:hover {
        text-decoration: none;
      }
      .groupItem {
        border-radius: $defRadius;
        padding: $defPadding;
        margin: 1rem 0;
        background-color: var(--Input-Color);
        display: flex;
        justify-content: space-between;
        .group {
          color: var(--text);
        }
      }
    }
  }
}
form {
  margin: $formMargin;
  position: absolute;
  bottom: -40px;
  background-color: transparent;
  width: 90%;
  @media screen and (min-width: 1280px) {
    width: 40vw;
    max-width: 40%;
    .userList {
      width: 60vw;
    }
  }
  .aanmaak {
    .GroupInput {
      @include InputStyle;
    }
    .userList {
      margin: 1em 0;
      max-width: 100%;
      @media screen and (max-width: 396px) {
        // display: block;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 10vh;
        scrollbar-width: thin;
        .userItem {
          margin-left: 0;
          label {
            width: 100%;
          }
        }
      }
      .userItem {
        display: inline-block;
        margin: 0.5em 0.2em;
        label {
          height: max-content;
          cursor: pointer;
          user-select: none;
          @include selectUser;
          margin: 0%;
        }
        input[type="checkbox"] {
          appearance: none;

          &:checked ~ label {
            background-color: var(--Tri-Color-Select);
          }
        }
      }
    }
  }
  // groep aanmaken
  .Item {
    margin: 1em 0;
    input {
      @include ButtonStyle(var(--Pri-Color));
    }
  }
}
// .userItem {
//   .User {
//   }
// }
