.groupList {
  margin: $defMargin;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
  scrollbar-width: thin;
  .scroll {
    // scroll = groupLIst
    display: flex;
    justify-content: start;
    flex-direction: column-reverse;
    a {
      padding: 0 1em;
      .groupItem {
        border-radius: $defRadius;
        padding: $defPadding;
        margin: 1rem 0;
        background-color: var(--Input-Color);
        .group {
          color: var(--text);
        }
      }
    }
  }
}
form {
  margin: $formMargin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32vh;
  .aanmaak {
    .GroupInput {
      @include InputStyle;
    }
    .userList {
      margin: 1em 0;
      display: inline-flex;
      width: 100%;
      .userItem {
        margin-right: 1em;
        label {
          cursor: pointer;
          user-select: none;
          @include selectUser;
        }
        input[type="checkbox"] {
          appearance: none;

          &:checked ~ label {
            background-color: var(--Tri-Color-Select);
          }
        }
      }
    }
  }
  // groep aanmaken
  .Item {
    margin: 1em 0;
    input {
      @include ButtonStyle(var(--Pri-Color));
    }
  }
}
// .userItem {
//   .User {
//   }
// }
