.groupList {
  margin: $defMargin;
  .scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 270px;
    //   margin: 1rem 0;
    margin-top: 1.8rem;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    a {
      .groupItem {
        border-radius: $defRadius;
        padding: $defPadding;
        margin: 1rem 0;
        background-color: var(--Input-Color);
        .group {
          color: var(--text);
        }
      }
    }
  }
}
form {
  margin: $formMargin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32vh;
  .aanmaak {
    .GroupInput {
      @include InputStyle;
    }
  }
  .Item {
    input {
      @include ButtonStyle(var(--Pri-Color));
    }
  }
}
// .userItem {
//   .User {
//   }
// }
