.inlogdiv {
  form {
    padding: $defPadding;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: space-between;
    .Form {
      position: relative;
      .formItem {
        display: flex;
        flex-direction: column;
        padding: $formPadding;
        font-size: $defFontSize;
        label {
          margin: 0.2em 0;
          //   &::after {
          //       content: ':';
          //   }
        }
        input {
          padding: $formPadding;
          font-size: $defFontSize;
          font-family: "Poppins", sans-serif;
          border: none;
          background-color: var(--inputClr);
          color: var(--text);
        }
      }
      .formItem:nth-child(1) {
        &::before {
          content: "";
          display: block;
          position: fixed;
          position: absolute;
          width: 80%;
          max-width: 1920px;
          height: 22px;
          background-color: var(--Acc-Color1);
          border-radius: 52px;
          z-index: -3;
          transform: translate(70%, 105%);
        }
      }
      .formItem:nth-child(2) {
        &::before {
          content: "";
          display: block;
          position: fixed;
          position: absolute;
          width: 80%;
          max-width: 768px;
          height: 22px;
          background-color: var(--Acc-Color2);
          border-radius: 52px;
          z-index: -3;
          bottom: 30%;
          left: -20%;
        }
      }
    }
    .submitBtn {
      display: flex;
      width: 100%;
      margin: 0 auto;
      .Btn_login {
        @include ButtonStyle(var(--Pri-Color));
      }
    }
  }
}
